@import 'https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Reenie+Beanie&subset=latin-ext';

* {
      transition: all 0.35s ease;
}

body {
    margin: 0;
    font-weight: 400;
    font-size: 15px;
}

.jumbotron {
    width: 100%;
    min-height: 100vh;
}

.table {
    display: table;
}

.row {
    display: table-row;
}

.cell {
    display: table-cell;
}

.container {
    max-width: 400px;
    margin: auto;
    padding: 50px;
}

.jumbotron .table {
    height: 100vh;
    width: 100%;
}

.jumbotron .cell {
    vertical-align: middle;
}

.text-love {
    color: #f00;
}

hr {
    height: 1px;
    background-color: #eee;
    border: 0;
    margin: 50px -50px;
}

h1 {
    font-family: Lato, sans-serif;
    font-weight: 400;
    font-size: 350%;
    color: #333;
    margin: 0;
}

h2 {
    font-family: Lato, sans-serif;
    font-weight: 400;
    font-size: 200%;
    color: #999;
    margin: 0;
}

h3 {
    font-family: Lato, sans-serif;
    font-weight: 400;
    font-size: 250%;
    color: #666;
    margin: 0;
    margin-top: 25px;
}

p {
    font-family: 'Open Sans', sans-serif;
}

.text-justify {
    text-align: justify;
}

.text-signature {
    color: #34495e;
    font-family: 'Reenie Beanie', sans-serif;
    font-style: italic;
    font-size: 350%;
}

.text-center {
    text-align: center;
}

.text-italic {
    font-style: italic;
}

.text-bold {
    font-weight: 600;
}

.text-faded {
    color: #999;
}

a {
    color: #1b95e0;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a.text-button {
    border: 2px solid #1b95e0;
    padding: 10px;
    margin: 10px 5px;
    display: inline-block;
    border-radius: 5px;
    min-width: 150px;
    font-weight: 600;
    font-size: 150%;
}

a.text-button:hover {
    background-color: #1b95e0;
    color: #fff;
    text-decoration: none;
}